<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
    android:name=".startup.AilmApplication"
    android:allowBackup="true"
    android:fullBackupContent="false"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/Theme.AsterionCore">

    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:theme="@style/Theme.AsterionCore.Starting">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <intent-filter>
            <action android:name="android.intent.action.SEND" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:mimeType="text/plain" />
        </intent-filter>

        <intent-filter android:autoVerify="false">
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="www.terabox.com" android:pathPrefix="/s/" />
            <data android:scheme="https" android:host="terabox.com" android:pathPrefix="/s/" />
            <data android:scheme="https" android:host="www.terabox.app" android:pathPrefix="/s/" />
            <data android:scheme="https" android:host="terabox.app" android:pathPrefix="/s/" />
            <data android:scheme="https" android:host="www.1024tera.com" android:pathPrefix="/s/" />
            <data android:scheme="https" android:host="1024tera.com" android:pathPrefix="/s/" />
        </intent-filter>

    </activity>

    <service
        android:name="androidx.work.impl.foreground.SystemForegroundService"
        android:foregroundServiceType="dataSync"
        tools:node="merge" />

</application>      

</manifest>
